


 * {
    box-sizing: border-box;

 }

 .styles-grid{
     background-color: lightgray;
     border: 1px solid black;
     padding: 10px;
     margin-bottom: 8px;
 }


.container {
    width:85%;
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
}

.row{
    width: 100%;
}

.column{
    float: left;
}

.one-third {
    width: 33.33%;
}

.one-half {
    width: 50%;
}

.one-eighth {
    width: 12.5%;
    margin-bottom: 25px;
}

.one-fourth {
    width: 25%;
}

@media screen and (max-width: 768px) {
    .one-third, .one-half {
        width: 100%;
    }
}